# TODO: Configurar endpoint de API para guardar respuestas del onboarding
VITE_API_URL=https://tu-api.com/onboarding

# TODO: Configurar ID del player de converteai para el video del Dr. Carlos Jaramillo
VITE_CONVERTEAI_PLAYER_ID=69c75d53a78f10ae44d4a8bb

# TODO: Configurar clave de autenticación si aplica
VITE_AUTH_TOKEN=